*{
    margin: 0;
    padding: 0;
}


p{
    color: #888888;
    margin: 0.5em;
}

.paragrafo{
    font-size: 1.2em;
    
}
h1{
    text-align: center;
    background-color: #222;
    color: rgb(60, 255, 0);
    padding: 1em 0;
}

.imagem-pub{
    width: 100%;
    
}

.pvideo,.nasa{
    text-align: center;
}

.button{
    background-color: rgb(224, 30, 4);
    color:#fff;
    padding: 0.4em 2em ;
    text-decoration: none;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 0.5em;
}

.button:hover{
    background-color: blue;
    color: red;
}

table,tr,th,td{
    border: #000000 1px solid;
}

th{
    background-color: black;
    color: white;
}

#div1,#div2,#div3,#div4{
    margin: 0.2em auto;
    width: 60%;
    height: 300px;
}
#div1,#div2{
    background-color: rgb(252, 0, 0);
}

#div3,#div4{
    background-color: rgb(0, 255, 255);
}